# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# build output
dist

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# debug
yarn-debug.log*
yarn-error.log*

# local env files
.env

# local env file
.config.json

# turbo
.turbo

# serverless
.serverless
deployment-folder

# vscode
.history

# webpack
.webpack
